@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 73, 0);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 0.5%;
}

#menu_de_cima{
    list-style: none;
    padding: 5px;
    margin-left: 83%;
}

#menu_de_cima li{
    display: inline;
}

#menu_de_cima li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 0.8%;
}

h1{
    font-weight: bold;
    font-size: 50pt;
    font-family: 'Bungee', cursive;
    text-align: center;
}

#apresentacao {
    height: 50vw;
    width: 100vw;
}

#formacao{
    height: 50vw;
    width: 100vw;
}
#imagem{
    float: left;
}


/*
#experiencia{
    height: 50vw;
    width: 100vw;
}

#contato{
    height: 50vw;
    width: 100vw;
}
*/
